/*Estilos globales*/

/*Limpiar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Cursor*/
    cursor: url(../img/serpientemouse.png), auto;
}
a{
    cursor: url(../img/serpientemousesenal.png), auto;
}

/*Scrolling*/
html{
    scroll-behavior: smooth;
}

/* Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*Backgorund*/
.bg-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/*Barra de navegacion*/
.header .navbar{
    background-color: transparent !important;
}

.navbar .btn{
    border-radius: 100px;
    background-color:#595412;
}

.navbar .btn-outline-secondary{
    border: 1px solid #595412;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 15px;
}

.navbar a{
    font-size: 19px;
    font-weight: 500;
    color: white;
}

.navbar .btn:hover{
    background-color: #BF9E75;
    border: 1px solid #BF9E75;
}
.navbar a:hover{
    font-size: 21px;
    transition: 0.5s;
    color: #813001;
}
.navbar{
    padding: 32px;
}
.nav-link{
    margin-left: 35px;
}

/*Section*/
/*Texto*/
section.hero{
    padding: 70px;
}

.container h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

section.hero .text{
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    margin-top: 40px;
    width: 100%;
    color: white;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}

section.hero a{
    margin-top: 20px;
}

.hero a:hover{
    font-size: 32px;
    transition: 0.5s;
    color: #813001;
}

section.hero .boton{
    align-items: center;
    text-align: center;
    width: 50%;
    height: 55px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid white;
    backdrop-filter: blur(30px);
    margin-left: 25%;
    margin-top: 40px;
}

.btn2{
    color: aliceblue;
    font-size: 30px;
}

/*Formulario*/
.form-box{
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    justify-content: center;
}

.form h3{
    font-size: 40px;
    color: black;
    text-align: center;
    font-weight: 600;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 370px;
    border-bottom: 2px solid black;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1.2em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.inputbox input{
    color: black;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
}

.inputbox i{
    position: absolute;
    right: 8px;
    color: black;
    font-size: 1.4em;
    top:20px;
}

.form-box button{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2.1em;
    font-weight: 650;
}

section.form .text1{
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    color: black;
    width: 100%;
    text-align: center;
}

/*Redes sociales*/

.col{
    position: relative;
}
.col .redes{
    font-size: 18px;
    color: black;
}


/*Iniciativa*//*Contactanos*/

section.information{
    justify-content: center;
    align-items: center;
    padding: 150px 0;
}

section.information h2{
    font-size: 35px;
    font-weight: 500;
    line-height: 48px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

section.information p{
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-weight: 200;
    line-height: 35px;
    margin-bottom: 20px;
}

section.information img{
    border-radius: 30px;
}

section.setup{
    text-align: center;
    margin-top: -50px;
}

section.setup h2{
    font-size: 35px;
    font-weight: 500;
    line-height: 48px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
}

.icons i{
    position: relative;
    color: black;
    font-size: 4em;
    padding-top: 50px;
    align-items: center;
}

section h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 48px;
    color: black;
    text-align: center;
}

section p1{
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-weight: 200;
    line-height: 35px;
    margin-bottom: 20px;
}

/*Footer*/
footer{
    padding: 20px 30px;
    background-color: #595412;
    text-align: center;
    color: black;
    font-size: 18px;
    margin-top: 40px;
}

/*Adaptabilidad*/
@media (max-width:768px){
    .masthead{
        min-height: 30vh;
    }

    section.information img{
        margin-top: 50px;
        border-radius: 10px;
    }
}

@media (max-width: 576px){
    .navbar{
        padding:10px 0;
    }

    .nav-link{
        margin-left: 0;
    }

    /*Section hero*/

    .buttons .btn{
        display: block;
        margin: 1rem 0;
    }

    .container h1{
        font-size: 23px;
        font-weight: 500;
        color: white;
        position: relative;
        text-align: center;
        width: 100%;
        
    }
    
    section.hero .text{
        font-weight: 300;
        font-size: 15px;
        line-height: 25px;
        width: 100%;
        color: white;
        position: relative;
        text-align: center;
        margin: 0%;

    }
    
    section.hero .text1{
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        color: white;
        width: 100%;
        position: relative;
        text-align: center;
        margin: 7% 0%;
    }

    section.hero .boton{
        height: 40px;
        width: 100px;
        background-color: transparent;
        border-radius: 20px;
        border: 2px solid white;
        backdrop-filter: blur(30px);
        margin-top: 40px;
    }
    
    .btn2{
        color: aliceblue;
        font-size: 20px;
        text-align: center;
    }

    /*Formulario*/

    section.form .text1{
        font-weight: 500;
        font-size: 17px;
        line-height: 30px;
        color: black;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .form h3{
        font-size: 30px;
        color: black;
        text-align: center;
        font-weight: 600;
    }
    
    .inputbox{
        position: relative;
        margin: 30px 0;
        width: 200px;
        border-bottom: 2px solid black;
    }
    
    .inputbox i{
        position: absolute;
        right: 8px;
        color: black;
        font-size: 1em;
        top:30px;
    }
    
    /*Seccion informacion*/
    section.information{
        justify-content: center;
        align-items: center;
        padding: 0% 15px;
    }
    
    section.information h2{
        font-size: 25px;
        font-weight: 500;
        line-height: 30px;
        color: black;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    section.information p{
        font-size: 15px;
        width: 100%;
        text-align: center;
        font-weight: 200;
        line-height: 25px;
        margin-bottom: 20px;
    }
    
    
    section.information img{
        margin-top: 10px;
        border-radius: 10px;
    }
    
    /*seccion setup*/
    section.setup{
        text-align: center;
        margin-top: -10px;
        padding: 0% 15px;
    }

    .icons i{
        position: relative;
        color: black;
        font-size: 1.7em;
        padding-top: 50px;
        align-items: center;
    }

    section.setup h2{
        font-size: 25px;
        font-weight: 500;
        line-height: 30px;
        color: black;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    section.setup p{
        font-size: 15px;
        width: 100%;
        text-align: center;
        font-weight: 200;
        line-height: 25px;
        margin-bottom: 20px;
    }
    
    section h5{
        font-size: 17px;
        font-weight: 500;
        line-height: 48px;
        color: black;
        text-align: center;
    }
    
    section p1{
        font-size: 16px;
        width: 100%;
        text-align: center;
        font-weight: 200;
        line-height: 35px;
        margin-bottom: 20px;
    }

    footer{
        font-size: 16px;
    }

}













